<section class="section section-marquee" data-animate="fade-up">
  <div class="marquee">
    <div class="marquee-content">
      <span>{{ fields.text_1|default('Free Shipping on Orders Over $500') }}</span>
      <span class="divider">•</span>
      <span>{{ fields.text_2|default('Authenticity Guaranteed') }}</span>
      <span class="divider">•</span>
      <span>{{ fields.text_3|default('24/7 Concierge Support') }}</span>
      <span class="divider">•</span>
      <span>{{ fields.text_1|default('Free Shipping on Orders Over $500') }}</span>
      <span class="divider">•</span>
      <span>{{ fields.text_2|default('Authenticity Guaranteed') }}</span>
      <span class="divider">•</span>
      <span>{{ fields.text_3|default('24/7 Concierge Support') }}</span>
      <span class="divider">•</span>
    </div>
  </div>
</section>
